* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Gill Sans', 'Trebuchet MS', sans-serif;
}

.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #043873;
  padding: 0 220px;
}

.logo img {
  width: 190px;
  height: 34px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.burger {
  display: none;
}

.nav-links ul li a {
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0%;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-links ul li a img {
    width: 10px;
    color: white;
    margin-left: 10px;
}

.nav-buttons {
    display: flex;
    gap: 24px;
    align-items: center;;
}

.login-btn {
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -2%;
  width: 126px;
  height: 60px;
  color: #043873;
  background-color: #FFE492;
  border: none;
  border-radius: 8px;
}

.signup-btn {
    display: flex;
    gap: 10px;
    height: 60px;
    background: #4F9CF9;
    border: none;
    font-style: medium;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -2%;
    border-radius: 8px;
    color: white;
    align-items: center;
    padding: 0 15px;
    font-weight: 500;
}

.signup-btn img {
    width: 15px;
    height: 15px;
    margin-top: 2px;
}

.main-content {
    background: url('Element.png') no-repeat center;
    height: calc(100vh - 90px);
    background-color: #043873;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 220px;
}

.main-text {
  display: flex;
  color: white;
  flex-direction: column;
  text-align: left;
}

.main-text p {
    color: white;
    max-width: 656px;
    width: 100%;
    min-height: 60px;
    margin-top: 24px;
    height: auto;

}

.main-heading {
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    width: 100%;
    max-width: 656px;
    height: 154px;
    flex-wrap: wrap ;
}

.main-text button {
    display: flex;
    gap: 10px;
    height: 60px;
    width: 225px;
    background: #4F9CF9;
    border: none;
    border-radius: 7px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-weight: 500;
    font-style: medium;
    margin-top: 60px;
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
}

.main-img {
    max-width: 800px;
    aspect-ratio: 551 / 367; 
    background-color: #C4DEFD;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 824;
    height: 549;
    angle: 0 deg;
    opacity: 1;
    gap: 4px;

}

.main-img img {
    width: 90%;
    height: auto;
    object-fit: contain;
}

.project-management {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  min-height: 760px;
  padding: 0 220px;
  background: url("BACKGROUND.png") no-repeat left;
  flex-direction: row;
  
}

.pm-heading {
  width: 100%;
  max-width: 672px;
  height: 174px;
  position: relative;
}

.pm-heading h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 100%;
}

.pm-heading img {
  position: absolute;
  bottom: 10px;
  z-index: -1;
}

.pm-text {
  max-width: 672px;
  font-weight: 400;
  line-height: 30px;
}

.pm-button button {
    display: flex;
    gap: 10px;
    height: 60px;
    width: 186px;
    background: #4F9CF9;
    border: none;
    border-radius: 7px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-weight: 500;
    margin-top: 37px;
    font-style: medium;
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
}

.pm-img {
    max-width: 800px;
    aspect-ratio: 551 / 367; 
    background-color: #C4DEFD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pm-img img {
    width: 90%;
    height: auto;
    object-fit: contain;
}



.work-together {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
  height: 760px;
  padding: 0 220px;
}

.wt-heading {
  width: 100%;
  max-width: 670px;
  position: relative;
}

.wt-heading h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 100%;
}

.wt-heading img {
  position: absolute;
  z-index: -1;
  width: 60%;
  height: auto;
  bottom: -5px;
  left: 20%;
}

.wt-text {
  width: 100%;
  max-width: 670px;
}

.wt-text p {
  font-weight: 400px;
  line-height: 30px;
  letter-spacing: -2%;
  margin-top: 22px;
}

.wt-button button {
    display: flex;
    gap: 10px;
    height: 60px;
    width: 186px;
    background: #4F9CF9;
    border: none;
    border-radius: 7px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-weight: 500;
    margin-top: 37px;
    font-style: medium;
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
}

.wt-img {
    max-width: 800px;
    aspect-ratio: 551 / 367; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.wt-img img {
    width: 90%;
    height: auto;
    object-fit: contain;
}

.extension {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
  height: 760px;
  padding: 0 220px; 
  background-color: #043873;
}

.ext-heading {
    font-size: 44px;
    font-weight: 700;
    line-height: 80px;
    width: 656;
    height: 154;
    color: white;
    position: relative;
}


.ext-heading img {
  position: absolute;
  width: 490px;
  height: 35px;
  bottom: -7px;
  left: 310px;
}

.ext-img {
    max-width: 800px;
    aspect-ratio: 551 / 367; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.ext-img img {
    width: 90%;
    height: auto;
    object-fit: contain;
}

.ext-text {
  height: 60px;
  max-width: 670px;
  width: 100%;
  font-weight: 400px;
  line-height: 30px;
  letter-spacing: -2%;
  margin-top: 22px;
  color: white;
}

.ext-button button {
    display: flex;
    gap: 10px;
    height: 60px;
    width: 186px;
    background: #4F9CF9;
    border: none;
    border-radius: 7px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-weight: 500;
    margin-top: 37px;
    font-style: medium;
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
}

.customise {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
  padding: 70px 220px;
}

.cst-heading {
  max-width: 670px;
  width: 100%;
  position: relative;
}

.cst-heading h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 100%;
}

.cst-img {
    max-width: 800px;
    aspect-ratio: 551 / 367; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.cst-img img {
    width: 90%;
    height: auto;
    object-fit: contain;
}

.cst-heading img {
  position: absolute;
  width: 650px;
  height: 50px;
  bottom: 17px;
  left: 0px;
  z-index: -1;
}

.cst-text {
  height: 90px;
  width: 670px;
}

.cst-text p {
  font-weight: 400px;
  line-height: 30px;
  letter-spacing: -2%;
  margin-top: 8px;
}

.cst-button button {
    display: flex;
    gap: 10px;
    height: 60px;
    width: 186px;
    background: #4F9CF9;
    border: none;
    border-radius: 7px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-weight: 500;
    margin-top: 24px;
    font-style: medium;
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
}

.plan {
  height: 1272px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
}

.plan-heading {
  max-width: 1481px;
  width: 100%;
  height: 87px;
  position: relative;
}

.plan-heading h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}

.plan-heading img {
  width: 470px;
  height: 50px;
  position: absolute;
  right: 100px;
  bottom: 8px;
  z-index: -1;
}

.plan-heading p{
  max-width: 1480px;
  padding: 0 30px;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  line-height: 30px;
  size: 18px;
  letter-spacing: -2%;
}

.plan-cards {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.sec-cards {
  padding: 30px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  border: 1px solid rgb(236, 207, 131);
  border-radius: 10px;
}

.sec-cards-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sec-cards-head p:nth-child(1) {
  font-size: 24px;
  font-weight: 600;
  font-style: semibold;
}

.sec-cards-head p:nth-child(2) {
  font-size: 36px;
  font-weight: 700;
  font-style: bold;
}

.sec-cards-head p:nth-child(3) {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -2%;
  color: #555555;
  margin-bottom: 20px;
} 

.sec-cards-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 384px;
  gap: 15px;
  align-items: center;
}

.sec-cards-points {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sec-cards-body img {
  width: 20px;
  height: 20px;
}

.sec-cards-body p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -2%;
  color: #555555;
}

.sec-cards-btn {
  width: 166px;
  height: 50px;
  padding: 13px 40px 16px 40px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid rgb(236, 207, 131);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2%;
  font-style: medium;
}

.pri-cards {
  background-color: #043873;
  padding: 50px 30px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  display: flex;
  gap: 10px;
  border-radius: 16px;
  color: white;
}

.pri-cards-head {
  display: flex;
  flex-direction: column;
  gap: 25px;
} 

.pri-cards-head p:nth-child(1) {
  font-size: 24px;
  font-weight: 600;
  font-style: semibold;
  line-height: 36px;
} 

.pri-cards-head p:nth-child(2) {
  font-size: 36px;
  font-weight: 700;
  font-style: bold;
  line-height: 100%;
  color: #FFE492;
;
} 

.pri-cards-head p:nth-child(3) {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -2%;
  color: white;
  margin-bottom: 20px;
} 

.pri-cards-body {
  display: flex;
  flex-direction: row;
  max-width: 384px;
  width: 100%;
  gap: 15px;
  align-items: center;
}   

.pri-cards-points {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pri-cards-body img {
  width: 20px;
  height: 20px;
} 

.pri-cards-body p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -2%;
  color: white;
}

.pri-cards-btn {
  width: 166px;
  height: 50px;
  padding: 13px 40px 16px 40px;
  margin-top: 40px;
  background-color: #4F9CF9;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;  
  letter-spacing: -2%;
  font-style: medium;
  color: white;
}

.work {
  min-height: 574px;
  background: #043873 url("newback.png") no-repeat left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: white;
}

.work-heading {
  max-width: 1064px;
  width: 100%;
  text-align: center;
  padding: 0 30px;
  position: relative;
}

.work-heading h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 100%;
  font-style: bold;
  letter-spacing: -2%;
}

.work-heading img {
  right: 0;
  position: absolute;
  z-index: -1;
}

.work p {
  max-width: 1064px;
  width: 100%;
  padding: 0 30px;
  height: 60px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.work button {
  width: 190px;
  height: 63px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 13px 40px 16px 40px;
  margin-top: 30px;
  background-color: #4F9CF9;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;  
  letter-spacing: -2%;
  font-style: medium;
  color: white;
}

.data {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: 574px;
  padding: 0 220px;
}

.data-heading {
  max-width: 800px;
  width: 100%;
  position: relative;
}

.data-body h1 {
  text-align: left;
  font-size: 72px;
  font-weight: 700;
  font-style: bold;
  line-height: 100%;
  letter-spacing: -2%;
}

.data img {
  width: 562px;
  height: 314px;
}

.data-body img {
  position: absolute;
  z-index: -1;
  width: 450px;
  height: 60px;
  bottom: 5px;
  left: 210px;
}

.data-body p{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -2%;
}

.data-body button {
    display: flex;
    gap: 10px;
    height: 60px;
    width: 186px;
    background: #4F9CF9;
    border: none;
    border-radius: 7px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-weight: 500;
    margin-top: 37px;
    font-style: medium;
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
}

.sponsors {
  height: 574px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  padding: 0 120px;
}

.sponsors-heading {
  position: relative;
}

.sponsors h1 {
  text-align: center;
  font-size: 72px;
  font-style: bold;
  line-height: 100%;
  letter-spacing: -2%;
}

.sponsors-heading img {
  position: absolute;
  z-index: -1;
  width: 470px;
  height: 50px;
  bottom: -10px;
  left: 140px;
}

.apps {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  background: #043873 url("Element.png") no-repeat center;
  height: 750px;
  padding: 0 220px;
}

.apps-content {
  display: flex;
  gap: 24px;
  align-items: left;
  flex-direction: column;
}

.apps-content h1 {
  max-width: 798px;
  width: 100%;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -2%;
  color: white;
  font-style: bold;
}

.apps-content p {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -2%;
  color: white;
  max-width: 798px;
  width: 100%;
  height: 60px;
}

.apps-content button {
    display: flex;
    gap: 10px;
    height: 60px;
    width: 186px;
    background: #4F9CF9;
    border: none;
    border-radius: 7px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-weight: 500;
    margin-top: 37px;
    font-style: medium;
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
}

.apps-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 528px;
  height: 427px;
}

.clients {
  width: 100%;
  padding: 60px 220px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.clients-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1479px;
  height: 84px;
}

.clients-heading h1 {
  text-align: center;
  font-weight: 700;
  font-style: bold;
  font-size: 70px;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: center;
}

.clients-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 0 40px;
}

.client-white,
.client-blue {
  width: 330px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.08);
}

.client-white {
  background: #ffffff;
  color: #1b1b1b;
}

.client-blue {
  background: #4da3ff;
  color: #ffffff;
}

.client-white img,
.client-blue img {
  width: 45px;
  margin-bottom: 20px;
}

.client-white p,
.client-blue p {
  line-height: 1.5;
}

.hor-line {
  width: 100%;
  height: 2px;
  background: rgba(0,0,0,0.1);
  margin: 20px 0;
}

.client-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.client-info img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}


.cta-section {
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #043873;
    color:#ffffff ;
}

.cta-box {
    text-align: center;
    max-width: 608px;
    width: 100%;
    min-height: 533px;
}

.cta-box h1 {
    font-size: 32px;
    margin-bottom: 24px;
    font-weight: 700;
    font-style: bold;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;

}

.subtitle {
    color: #cddbee;
    margin-bottom: 25px;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -2%;
    text-align: center;

}

.cta-btn {
    background: #4ca9ff;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 6px;
    cursor: pointer;
    margin: 40px 0;
    width: 218px;
    height: 60px;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -2%;
}

.contact {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #cddbee;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -2%;
    text-align: center;

}

.icons {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.icons img {
    width: 40px;
    margin: 0 10px;
}


.footer {
    background-color: #043873;
    padding: 60px 100px;
    border-top: 2px solid #0a5abc;
    color: #ffffff;
}

.footer-grid {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer-col h3 {
    margin-bottom: 10px;
}

.footer-col a {
    display: block;
    color: #cddbee;
    margin-bottom: 6px;
    text-decoration: none;
}

.footer-btn {
    background: #4ca9ff;
    border: none;
    padding: 20px 40px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
}

.footer-bottom {
    margin-top: 60px;
    border-top: 1px solid #1559a8;
    padding-top: 20px;
    display: flex;
    align-items: center;
    color: #cddbee;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom span {
    padding-right: 60px;
}

.social img {
  width: 4px;
  height: 10px;
}

.social img {
    width: 20px;
    margin-left: 10px;
}



@media (max-width: 1440px){
  .navbar{
    padding: 0 32px;
  }
  .main-content, .project-management, .work, .extension, .customise, .data, .work-together, .apps
  {
    padding: 0 32px;
  }
  .customise {
    padding-top: 40px;
  }
}

@media (max-width: 1152px) {
  .nav-links ul{
    display: none;
  }
  .burger {
    display: block;
  }
  .pri-cards{
    width: 341px;
    min-height: 853px;
    height: auto  ;
  }
  .sec-cards{
    min-height: 700px;
    height: auto;
    width: 340px;
  }
  .sec-cards-body {

  }
}

@media (max-width: 768px) {
    .nav-buttons button {
      display: none;
    }
    .main-content {
        flex-direction: column;
        height: 1051px;
        gap: 100px;
    }
    .main-heading {
        font-size: 54px;
        line-height: 100%;
        letter-spacing: -2%;
        font-weight: 700;
        text-align: center;
    }
    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        margin-top: 0px;
    }
    .main-text button {
        margin: 0 auto;
    }
    .main-img {
        max-width: 551px;
        height: 367px;
    }
    .project-management {
      min-height: 1000px;
      flex-direction: column;
      padding: 40px 0;
    }

    .pm-heading {
      text-align: center;
    }
    .pm-heading img {
      left: 110px;
    }
    .pm-text {
      text-align: center;
    }
    .pm-button button {
      margin: 0 auto;
    }
    .pm-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
    .pm-img {
      max-width: 551px;
      height: 367px;
      margin-top: 40px;
    }
    .work-together {
      flex-direction: column;
      min-height: 1000px;
      padding: 40px 0;
      gap: 7  0px;
    }
    .wt-heading img {
      position: absolute;
      left: 0;
    }
    .wt-img {
      max-width: 551px;
      height: 367px;
    }
    .wt-heading {
      text-align: center;
    }
    .wt-text {
      text-align: center;
    }
    .wt-button button {
      margin: 0 auto;
      margin-top: 20px;
    }
    .extension {
      flex-direction: column;
      min-height: 1000px;
      padding: 40px 0;
      gap: 30px;
    }
    .ext-heading {
      text-align: center;
    }
    .ext-heading img {
      left: 200px;
    }
    .ext-text {
      text-align: center;
    }
    .ext-button button {
      margin: 0 auto;
      margin-top: 20px;
    }
    .ext-heading img {
      left: 10px;
    }
    .plan {
      gap: 200px;
    }
    .pri-cards {
      max-width: 472px;
      width: 100%;
    }
    .sec-cards {
      width: 472px;
    }
    .customise {
      flex-direction: column;
      padding: 40px 0;
      gap: 30px;
      flex-wrap: wrap;
    }
    .cst-heading {
      text-align: center;
    }
    .cst-heading img {
      left: 50px;
    }
    .cst-text {
      text-align: center;
    }
    .cst-button button {
      margin: 0 auto;
    }
    .cst-heading img {
      left: 50px;
    }
    .work {
      height: 700px;
      padding: 60px 20px;
      gap: 50px;
    }
    .work p {
      padding-bottom: 20px;
    }
    .work button {
      margin: 10px auto;
    }
    .data {
      flex-direction: column;
      min-height: 800px;
      padding: 40px 0;
      gap: 70px;
    }
    .data-heading h1 {
      text-align: center;
      width: 100%;
    }
    .data-body img {
      left: 100px;
    }
    .data-body p {
      text-align: center;
    }
    .data-body button {
      margin: 0 auto;

    }
    .apps {
      flex-direction: column;
      height: 1045px;
      gap: 50px;
      padding: 40px 0;
    }
    .apps-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      padding: 0 20px;
    }
    .apps-content h1 {
      text-align: center;
      width: 100%;
    }
    .apps-content p {
      text-align: center;
      width: 100%;
    }
    .apps-content button {
      margin: 0 auto;
    }

    .footer-grid {
      grid-template-columns: 200px 200px 200px;
    }
    .clients-heading {
      max-width: 728px;
      height: 130px;
    }
    .cta-section {
      justify-content: left;
    }
    .cta-box {
      text-align: left;
      padding: 0 20px;
    }
    .cta-box h1 {
      text-align: left;
    }
    .cta-box p{
      text-align: left;
    }
    .icons {
      justify-content: left;
    }
    .footer {
      padding: 60px 32px;
    }
    .footer-grid {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 100px;
        padding: 0px;
    }

    .footer-col {
        width: 100%;
        text-align: left;
    }

    .main-heading, .pm-heading h1, .wt-heading h1, .ext-heading h1, .customise h1, .plan-heading h1, .work-heading h1, .data-heading h1, .apps-content h1 {
      font-weight: 700;
      font-style: Bold;
      font-size: 54px;
      line-height: 100%;
      letter-spacing: -2%;
      text-align: center;
    }


}

@media (max-width: 320px) {
  .main-heading, .pm-heading h1, .wt-heading h1, .ext-heading h1, .customise h1, .plan-heading h1, .work-heading h1, .data-heading h1, .apps-content h1, .clients-heading h1, .cta-box h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
  }

  .cta-box {
    text-align: center;
  }

  .footer-grid {
    text-align: center; 
    align-items: center;
  }

  .footer-col {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .footer-bottom-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .footer-bottom-span span {
    padding: 0;
  }

  .social {
    margin-top: 20px;
  }

  .cta-box p{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -2%;
    text-align: center;
  }

  .main-heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-img, .pm-img, .wt-img {
    width: 286px;
    height: 191px;
  }

  .main-text p {
    margin: 0px;
  }

  .ext-button {
    margin-top: 40px;
  }

  .pri-cards {
    width: 298px;
    height: 642px;
  }

  .work {
    height: 800px;
    gap: 10px;
    justify-content: left;
    align-items: left;
    text-align: left;
  }

  .work button {
    margin-top: 290px;
  }

  .data img {
    width: 290px;
    height: 162px;
  }

  .apps-img img {
    width: 286px;
    height: 231px;
  }

  .clients-heading {
    width: 288px;
    height: 104px;
    text-align: center;
  }

  .apps-content button {
    margin-top: 60px;
  }

  .cst-heading h1 {
    max-width: 288px;
    width: 100%;
    height: 104px;
  }
  .cst-text {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 288px;
    width: 100%;
    height: 138px;
  }
  .cst-button {
    margin-top: 20px;
  }
}



